/*CSS初始化-开始*/
* {
	padding: 0;
	margin: 0;
}
/*CSS初始化-结束*/
/*滚动条样式-开始*/
::-webkit-scrollbar {
	width:10px;
	overflow-x:hidden
}
::-webkit-scrollbar-thumb {
	border-radius:10px;
	background:rgba(255,255,255,0.6);
}
::-webkit-scrollbar-corner {
	background:rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:hover{
	background:rgba(255,255,255,0.8);
}
::-webkit-scrollbar-track
{
	background-color: rgba(0,0,0,0.7);
}
/*滚动条样式-结束*/

/*选择文本样式-开始*/
::selection { background-color: #fa4b8b; color:fff}
/*选择文本样式-结束*/
html {
	position: relative;
	background-blend-mode: luminosity;
	background-image:linear-gradient(to top, rgba(0, 0, 0,0.0) 0%, rgba(0, 0, 0,0.6) 100%), url('img/bg.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: 100% auto ;
	background-position: center center;
	/*filter: grayscale(40%);/*灰度*/
	/*filter: contrast(110%);/*对比*/
	/*filter: brightness(102%);/*曝光变亮*/
	/*filter: blur(50px);/*模糊*/
	/*filter: invert(100%);/*反色*/
	/*filter: opacity(95%);/*透明*/
	/*filter: saturate(120%);/*饱和度*/
	/*filter: sepia(15%);/*转为褐色*/
}




/*Card-开始*/
.cards {
	display: inline-block;
	width: 70;
	margin: 0 15%;
	padding: 60px 0;
	font-size: 0;
	text-align: center;
	/*background-color:  rgba(0, 0, 0,0.3);*/
}
.card {
	overflow: hidden;
	position: relative;
	width: 32%;
	margin: 4px;
	display: inline-block;
	border-radius: 8px;
}
.card>img {
	width: 100%;
	border-radius: 8px;
	user-select: none;
}
.span1 {
	text-align: left;
	left: 2px;
	top: 110%;
	margin: 0 18px;
	position: absolute;
	content: "";
	font-family: "Microsoft JhengHei", sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2;
	color: #fff;
	text-shadow: #fff 0px 0px 1px;
	transition-duration: 0.2s;
}
.span2 {
	text-align: center;
	left: 0px;
	top: 100%;
	margin: 4px 20px;
	position: absolute;
	content: "";
	font-family: "Microsoft JhengHei", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 300;
	color: #fff;
	text-shadow: rgba(255,255,255,0.5) 0 0 1px;
	transition-duration: 0.2s;
}
.card:before {
	position: absolute;
	content: "";
	width: 100%;
	top: 100%;
	height: 50%;
	background: linear-gradient(to bottom, rgba(0, 0, 0,0.0) 0%, rgba(0, 0, 0,0.7) 100%);
	transition-duration: 0.2s;
}
.card:hover:before {
	top: 50%;
}
.card:hover .span1 {
	top: 72%;
}
.card:hover .span2 {
	top: 86%;
}
/*iPadPro*/

/*Card-结束*/
/*A标签传送门-开始*/
.as {
	cursor:pointer;
	margin: 0 4px;
	padding: 0 4px;
	text-decoration: none;
	border-bottom: 1.5px solid #ef8b80;
	color: inherit;
	user-select: none;

}
.as:hover {
	background: #ef8b80;
	border-radius: 3px;
	text-shadow: #fff 0 0 5px;
}
/*A标签传送门-结束*/
/*iframe窗口-开始*/

/*iframe窗口-开始*/
#idiframe0{
	font-size: 0;	
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 92%;
	height: 70vh;
	margin: 15vh 4vw;
	border: 0px;
	box-shadow: 0px 0px 0px 100vw rgba(0,0,0,0.7);
}
/*iframe窗口关闭按钮*/
#idiframe1{
	cursor:pointer;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	margin-left:96vw;
	margin-top: 15vh;
	color: #fff;
	font-size: 24px;
	user-select: none;
}
#idiframe1:hover{
	color: #fa4b8b;
	font-weight: 600;
}
/*iframe窗口-结束*/

/*导航-开始*/
.link{
	padding: 10px 10px;
	position: fixed;
	width: 100%;
	height: 18px;
	text-align: center;
	background-color: rgba(0, 0, 0,0.3);
	
	user-select: none;
	z-index:100;
}
.link>ul{
	width: 100%;
	margin: auto;
	position:absolute;
	margin:-2px 0px;	
}
.link>ul>li{
	display: inline;
}
.link>ul>li>a{
	margin: 0 16px;
	color: #fff;
	text-decoration: none;
	font-family:Microsoft YaHei;
	font-size: 16px;
	font-weight: 300;
	text-shadow: 0px 0px 2px #000;
	border-radius: 2px;
}
.link>ul>li>a:hover{
	color: #fff;
	padding-bottom: 9px;
	border-bottom: 2px solid #fff;
}
.link>ul>li>.active{
	padding-bottom: 9px;
	border-bottom: 2px solid #fff;

}
/*导航-结束*/

/*自适应-开始*/
/*iPadPro*/
@media (max-width:1400px) {
	.cards{
		width:80%;
		margin:0 10%;
	}
	.card {
		width: 42%;
	}
	.card:hover .span1 {
	top: 68%;
	}
	html{
		background-size: cover;
	}
}
/*iphone6/7/8Plus iphoneX ipad*/
@media (max-width:980px) {
	.cards{
		width:90%;
		margin:0 5%;
	}
	.card {
		width: 90%;
	}
	.card:hover .span1 {
	top: 76%;
	}
}
/*自适应-结束*/



<style type="text/css">
/*CSS初始化-开始*/
* {
	padding: 0;
	margin: 0;
}
/*CSS初始化-结束*/
/*滚动条样式-开始*/


