* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: sans-serif;
  position: relative;
  background: #000;
}
h1 {
  font-size: 3.2rem;
  color: #666;
  position: absolute;
  top: 10%;
  left: 50%;
  opacity: 0.3;
  transform: translate(-50%, -50%);
}
.outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inner {
  position: relative;
}
.inner::before,
.inner::after {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 8px;
  top: 50%;
  background: #fff;
}
.inner::before {
  right: 15.26px;
  transform: translateY(-50%) rotate(-45deg);
}
.inner::after {
  right: 20px;
  transform: translateY(-50%) rotate(45deg);
}
input[type="range"] {
  width: 100%;
  margin-top: 16px;
}
select {
  font-size: 16px;
  color: #fff;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 8px 8px 0 rgba(200,200,200,0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.18);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 16px 32px;
}
@media (min-width: 500px) {
  h1 {
    font-size: 10rem;
  }
}