:root{
--s1:rgba(0,0,0,0.8);/*导航栏背景颜色*/
--s2:rgba(255,255,255,0.7);/*导航栏文字颜色*/
--s3:rgba(255,255,255,1);/*导航栏文字激活颜色*/
}
*{
margin:0;
padding:0;
}

html{
height:2000px;
}

/*【v1导航栏】*/
#v1{
padding:8px;
text-align:center;
position:fixed;
width:100vw;
background:var(--s1);
-webkit-user-select:none;
-webkit-backdrop-filter:saturate(180%)blur(20px);
backdrop-filter:saturate(180%)blur(20px);		
z-index:9999;
}
#v1>a{
font-size:17px;
font-weight:300;
margin:18px;
color:var(--s2);
text-decoration:none;
}
#v1>a:hover{
color:var(--s3);
}









