:root{
--w0:70%;
--w1:340px;
--h1:220px;
/*nav导航栏*/
--nav1:rgba(0,0,0,0.6);/*背景颜色*/
--nav2:rgba(255,255,255,0.7);/*文字颜色*/
--nav3:rgba(255,255,255,1);/*文字激活颜色*/
--nav4:17px;/*字体大小*/
--nav5:6px;/*内上下间距*/
--nav6:18px;/*内左右间距*/

--s5:rgba(0,0,0,0.4);/*卡片·标题背景模糊颜色*/
--s6:#50616d;/*背景颜色*/


}
*{
margin:0;
padding:0;
}
@font-face{
font-family:'ttf';
src : url('ttf.ttf');
}
html {
font-size:0;
font-family:"ttf";
background:var(--s6);
}


/*【v1导航栏】*/
#v1{
padding:var(--nav5);
text-align:center;
position:fixed;
width:100vw;
background:var(--nav1);
-webkit-user-select:none;
backdrop-filter:saturate(180%)blur(20px);
-webkit-backdrop-filter:saturate(180%)blur(20px);	
z-index:9999;
}
#v1>a{
font-size:var(--nav4);
font-weight:300;
margin:var(--nav6);
color:var(--nav2);
text-decoration:none;
}
#v1>a:hover{
color:var(--nav3);
}

/*【内容·card卡片】*/
#nr{
position:absolute;
width:var(--w0);
margin:0 0 0 calc((100% - var(--w0)) / 2 );
margin-top:60px;
text-align:center;
}

/*【card卡片】*/
.card{
display: inline-block;
margin:8px;
cursor:pointer;
width:var(--w1);
height:var(--h1);
overflow:hidden;
}
.card:before{
position:absolute;
content:"お兄ちゃん、朝までずっとギュってして 汉化版";
font-size:14px;
line-height: 1.4;
letter-spacing:1.2px;
color:rgba(255,255,255,0.7);
text-shadow: 0px 2px 2px rgba(0,0,0,.4);
text-align:left;
margin-top:calc(var(--h1) - 30px);
padding:6px;
width:calc(var(--w1) - 12px);
height:18px;
background-color:var(--s5);
backdrop-filter:saturate(180%)blur(20px);
-webkit-backdrop-filter: saturate(180%) blur(20px);
z-index:1;	
}
.card:hover::before{
 transition-duration:.8s;
color:rgba(255,255,255,1);
}
.imgs{
width:var(--w1);
transition-duration: 0.4s;
}
.imgs:hover {
transform:scale(1.04);
}



/*【手机样式】*/
@media screen and (max-width:980px ){
:root{
--w0:90%;
--w1:100%;
--h1:500px;
--nav4:28px;
--nav5:14px;
--nav6:24px;
}
}




